$lighter: "SBAggro-l";
$orange: #ff6904;
$green: #559c02;
$white: rgba(255, 255, 255, 0.9);
$shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
.search {
  min-height: calc(100vh - 64px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1547573854-74d2a71d0826?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-attachment: fixed;
  padding: 2rem 0;
  form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    input {
      width: 100%;
      border: 2px solid $green;
      border-radius: 10px 0 0 10px;
      padding: 0.5rem;
      box-shadow: $shadow;
      transition: all 0.3s;
      font-family: $lighter;
      background-color: $white;
      &:focus {
        border: 2px solid darken($green, 10);
      }
    }
    .button {
      box-shadow: $shadow;
      border-radius: 0 10px 10px 0;
    }
  }
  .progress {
    width: 100%;
    min-height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
